*{
    padding: 0;
    margin: 0;
}
#contenedor{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12;
    text-align: center;
    
}


button{

position: relative;



}

#informacion{

background-color: rgb(230, 81, 131);
margin-top: 1.5em;
padding-left: 1.5em;
padding-top: 1.5em;
padding-bottom: 1.5em;
padding-right: 1.5em;
width: 60%;
height: 80%;
position: relative;
top: 1.5em;
left: 10.5em;
margin: 0.5cm;
border-radius: 1cm;
}

